{% extends 'subadmin/sub.index.html' %}
{% block body %}
{#<body>#}
{#<a href="/sa_view_profile">View profile</a><br>#}
{#<a href="/sa_changepassword">Change Password</a><br>#}
{#<a href="/sa_location">view location</a><br>#}
{#<a href="/sa_add_safe">Add Safepoint</a><br>#}
{#<a href="/sa_safe_point_managment">View safepoint </a><br>#}
{#<a href="/sa_police_view">View Police</a><br>#}
{#<a href="/sa_dangerous_addedbyuser">view Dangerspot</a><br>#}
{#<a href="/sa_feedback">view Feedback</a><br>#}
{#<a href="/sa_visual_send">view visuals</a><br>#}
{#</body>#}
{% endblock %}
