{% extends 'subadmin/subindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th>SI NO</th>
      <th>Location</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Date</th>
      <th>&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>{{ i["Location"] }}&nbsp;</td>
      <td>{{ i["Latitude"] }}&nbsp;</td>
      <td>{{ i["Longitude"] }}&nbsp;</td>
      <td>{{ i["Date"] }}&nbsp;</td>
      <td><a href="http://maps.google.com/?q={{ i['Latitude'] }},{{ i['Longitude'] }}" class="btn btn-outline-success">Map</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
