{% extends 'subadmin/subindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table  border="1">
    <tr>
      <td>Sl.No</td>
      <td>Name</td>
      <td>Feedback</td>
      <td>Date</td>
    </tr>
           {% for i in data %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td>{{ i['Name'] }}&nbsp;</td>
      <td>{{ i['Feedback'] }}&nbsp;</td>
      <td>{{ i['Date'] }}&nbsp;</td>
    </tr>
      {% endfor %}
    </tr>
  </table>
</form>
</body>
{% endblock %}
