
<body>
<form id="form1" name="form1" method="post" action="">
</form>
<table width="200" border="1">
  <tr>
    <td width="44">SI.No</td>
    <td width="8">Name</td>
    <td width="5">Gender</td>
    <td width="5">DOB</td>
    <td width="5">Station Name</td>
    <td width="5">City</td>
    <td width="5">District</td>
    <td width="5">State</td>
    <td width="5">Pin</td>
    <td width="5">Phone No</td>
    <td width="5">Email Id</td>
    <td width="5">Image</td>
    <td width="5">&nbsp;</td>
    <td width="9">&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}&nbsp;</td>
    <td>{{ i['Name'] }}&nbsp;</td>
      <td>{{ i['Gender'] }}&nbsp;</td>
    <td>{{ i['DOB'] }}&nbsp;</td>
    <td>{{ i['Station_Name'] }}&nbsp;</td>
    <td>{{ i['City'] }}&nbsp;</td>
    <td>{{ i['District'] }}&nbsp;</td>
    <td>{{ i['State'] }}&nbsp;</td>
    <td>{{ i['Pin'] }}&nbsp;</td>
    <td>{{ i['Phone_Number'] }}&nbsp;</td>
    <td>{{ i['Email_id'] }}&nbsp;</td>
  </tr>
</table>
</body>