{% extends 'admin/index.html' %}
{% block body %}
<body>
{#<a href="/adm_add_notif">Add Notification</a><br>#}
{#<a href="/adm_add_police">Add Police</a><br>#}
{#<a href="/adm_add_vehicle">Add Vehicle</a><br>#}
{#<a href="/adm_add_site_info">Site info Managment</a><br>#}
{#<a href="/adm_add_subadmin">Subadmin Managment </a><br>#}
{#<a href="/adm_add_allocation">Vehicle allocation</a><br>#}
{#<a href="/adm_view_allocation">view vehicle allocation</a><br>#}
{#<a href="/adm_view_blocked_user">view blocked user</a><br>#}
{#<a href="/adm_view_feedback">view feedback</a><br>#}
{#<a href="/adm_view_notif">view notification</a><br>#}
{#<a href="/adm_view_register">view register user and blocked user</a><br>#}
{#<a href="/adm_view_site">view siteinfo managment</a><br>#}
{#<a href="/adm_view_subadmin">view subadmin</a><br>#}
{#<a href="/adm_view_vehicle">view vehicle managment</a><br>#}
{#<a href="/adm_view_police">view police</a><br>#}
</body>
{% endblock %}